@charset "utf-8";
/* CSS Document */

body {
	background-image: url(resources/images/background_image.png);
}

.mslbar {
	background-color:#ECECEC;
}

.slbar {
    width:20%;
    display: block;
    float:left;
}

.searchbox {
     border-radius: 10em;
     text-decoration-color: #dddddd;
}

.logged_user_link {
}

.newsbar {
    background-color: #c2dfef;
}

.image_gallery {
}

.login_area{
    background-color: #c2dfef;
    border-radius: 4 em;
}

.stack_menu {
}

.valores_cursos_box {
}