/* 
    Document   : menuStyle.css
    Created on : Apr 27, 2012, 1:59:43 PM
    Author     : Edwin Bratini
    Description:
        Purpose of the stylesheet follows.
*/

<!--
body {
    font: 100% Verdana, Arial, Helvetica, sans-serif;
    background: #464646;
    margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
    padding: 0;
    text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
    color: #000000;
    width: 500px;
    float: left;
}
.oneColLiqCtr #container {
    width: 1000px;  /* this will create a container 80% of the browser width */
    background: #464646;
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
    border: 1px solid #000000;
    text-align: left; /* this overrides the text-align: center on the body element. */
    display: block;
}
.oneColLiqCtr #mainContent {
    padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
}
-->

.mnuItmLink {
    text-decoration: none;
    color: #BBB;
}

.mnuTtlLink {
    text-decoration: none;
    color: #BBB;
}

.li-cls {
    margin-left: 10px;
}

.mnuItemDiv {
    font-size: 70%;
}