@charset "utf-8";
/* CSS Document */

body {
	background-image: url(resources/images/background-image.png);
}

.newsbar {
    background-color: #c2dfef;
}

.image_gallery {
}

.login_area{
    background-color: gainsboro;
    border-radius: 2em;
    width:40%;
    float:left;
    height: 400px
}

.stack_menu {
}

.valores_cursos_box {
}