/* 
    Document   : menuStyle.css
    Created on : Apr 27, 2012, 1:59:43 PM
    Author     : Edwin Bratini
    Description:
        Purpose of the stylesheet follows.
*/

#mnu_container {
    width: 1000px;  /* this will create a container 80% of the browser width */
    background: #464646;
    margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
    /*    border: 1px solid #000000;*/
    border: none;
    text-align: left; /* this overrides the text-align: center on the body element. */
    display: block;
}
#mnu_mainContent {
    padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
    border: none;
}

.mnuItmLink {
    text-decoration: none;
    color: #BBB;
}

.mnuTtlLink {
    text-decoration: none;
    color: #BBB;
}

.li_cls {
    margin-left: 10px;
}

.mnuItemDiv {
    font-size: 90%;
}